.root {
	-fx-background-color: #eeeeee;
	-fx-font-family:"Open Sans Regular",Verdana,Arial;
	-fx-font-size: 14px;
	-fx-text-fill: #2c3233;
}

.hidden {
	visibility:hidden;
}

.show {
	visibility:inherit;
}

#titleBar {
	-fx-background-color: #2c3233;
	-fx-padding: 0;
	-fx-background-position:20px -2px;
	-fx-background-image: url('assets/icons-09.png');
}

.icon {
	-fx-background-repeat:no-repeat;
}

.headline {
	-fx-font-size: 36px;
	-fx-font-family:"Open Sans",Verdana,Arial;
	-fx-font-weight:lighter;
}

/* Reset Button-Class */
.btn,
.btn:focused {
	-fx-padding: 0;
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-cursor:hand;
}

.btn.default,
.btn.default:focused {
	-fx-padding: 15px 20px;
	-fx-background-color: #2c3133;
	-fx-text-fill:#eeeeee;
}
.btn.default:focused,
.btn.default:hover {
	-fx-background-color: #eeeeee;
	-fx-text-fill:#2c3133;
}

.btn.submit,
.btn.submit:focused {
	-fx-padding: 15px 20px;
	-fx-background-color: #2c3133;
	-fx-text-fill:#eeeeee;
	-fx-border-color: transparent;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-font-size: 18px;
}
.btn.submit:focused,
.btn.submit:hover {
	-fx-background-color: #f7f7f7;
	-fx-text-fill:#27d2b8;
	-fx-border-color: #27d2b8;
}
.btn.submit:focused {
	-fx-background-color: #27d2b8;
	-fx-text-fill:#eeeeee;
	-fx-border-color: #27d2b8;
}

.textfield,
.textfield:focused {
	-fx-padding: 10px;
	-fx-background-color: #f7f7f7;
	-fx-text-fill:#5a6567;
	-fx-font-size: 32px;
	-fx-border-color: #c6c6c6;
	-fx-border-width: 1px 1px 1px 4px;
	-fx-border-style: solid;
	-fx-highlight-text-fill: #eeeeee;
    -fx-highlight-fill: rgba(0,0,0,0.2);
    -fx-cursor:text;
    -fx-font-family: 'Open Sans',Verdana,Arial;
    -fx-font-weight: lighter;
}
.textfield:focused {
	-fx-border-color: #27d2b8;
	-fx-border-width: 1px 1px 1px 4px;
}

.textfield.default:hover,
.textfield.default:focused {
	-fx-border-color: #c6dbda;
}

.textfield.error {
	-fx-border-color: #ff314e;
	-fx-highlight-text-fill: #5a6567;
    -fx-highlight-fill: #ffbcc5;
}
.textfield.error:hover,
.textfield.error:focused {
	-fx-border-color: #ff314e;
}

.textfield.warning {
	-fx-border-color: #ffd257;
	-fx-highlight-text-fill: #5a6567;
    -fx-highlight-fill: #fff1cc;
}
.textfield.warning:hover,
.textfield.warning:focused {
	-fx-border-color: #ffd257;
}

.textfield.success {
	-fx-border-color: #27d2b8;
	-fx-highlight-text-fill: #5a6567;
    -fx-highlight-fill: #b3f8ed;
}
.textfield.success:hover,
.textfield.success:focused {
	-fx-border-color: #27d2b8;
}

.textfield.default.combobox {
	-fx-font-size:16px;
	-fx-background-color:#f7f7f7;
	-fx-cursor: hand;
}

.combo-box {
	-fx-border-width:1px 1px 1px 4px;
	-fx-cursor: hand;
	-fx-border-color: #c6c6c6;
}
.combo-box:hover, 
.combo-box:focused {
	-fx-background-insets:0;
	-fx-border-color:#27d2b8;
	-fx-border-width:1px 1px 1px 4px;
}
.combo-box .arrow, .combo-box .arrow-button {
	-fx-background-color: transparent;
	-fx-background-image: url('assets/icons-19.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: 0 0;
	-fx-background-size:auto;
}
.combo-box-base:showing .arrow-button {
	-fx-background-image: url('assets/icons-20.png');
}

.check-box {
	-fx-cursor: hand;
}
.check-box .box {
	-fx-background-color: transparent;
	-fx-background-image: inherit;
	-fx-background-repeat: no-repeat;
	-fx-background-position: 5px -3px;
	-fx-background-size:auto;
	-fx-border-color: #c6c6c6;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-padding: 10px;
}

.check-box:hover .box {
	-fx-border-color: #c6dbda;
}
.check-box:selected .box {
	-fx-background-image: url('assets/icons-14.png');
}
.check-box .box .mark {
	-fx-background-color: transparent;
	-fx-background-image: inherit;
	-fx-background-repeat: no-repeat;
	-fx-background-size:auto;
}

/*
.table-view .column-header-background,
.table-view .column-header-background .nested-column-header,
.table-view .column-header-background .nested-column-header .column-header,
.table-view .column-header-background .filler,
.table-view .column-header-background .show-hide-columns-button,
.table-view .column-overlay,
.table-view .placeholder,
.table-view .column-resize-line 
*/

.tableview .increment-button, .tableview .decrement-button {
    -fx-background-radius: 0em;
    -fx-background-color:#f1f1f1;
    -fx-background-image:inherit;
    -fx-border-color:#c6c6c6;
    -fx-border-width:0;
	-fx-padding:10px;
    -fx-background-insets: 0;
    -fx-cursor: hand;
}

.tableview .decrement-button {
    -fx-border-width:0 0 1px 1px;
}
.tableview .increment-button {
    -fx-border-width:1px 0 0 1px;
}
.tableview .increment-button:hover, .tableview .decrement-button:hover {
	-fx-background-color:#f1f1f1;
}

.table-row-cell:even {
	-fx-background-color:#f1f1f1;
}
.table-row-cell:odd {
	-fx-background-color:#f7f7f7;
}

.tableview .scroll-bar:vertical .thumb,
.tableview .scroll-bar:vertical .track {
    -fx-background-radius: 0em;
    -fx-background-color:#f1f1f1;
    -fx-background-image:inherit;
    -fx-border-width:0;
}
.tableview .scroll-bar:vertical .thumb{
    -fx-background-color:#c6dbda;
}

.tableview {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
	-fx-border-width:1px 1px 1px 4px;
	-fx-border-style:solid;
	-fx-border-color:#c6c6c6;
}
.tableview:focused,
.tableview:selected {
	-fx-border-color:#c6dbda;
}

.table-row,
.table-row-cell {
	-fx-padding:0;
	-fx-cell-size:40px;
	-fx-vgap:0;
	-fx-hgap:0;
	-fx-border-width:0;
	-fx-font-family: "Open Sans",Verdana,Arial;
	-fx-font-weight: lighter;
	-fx-alignment: center;
    -fx-background-insets: 0;
}
.table-view .table-row-cell:filled .table-cell {
	-fx-padding:0 10px 0 10px;
	-fx-border-color:#f1f1f1;
	-fx-border-width:0 1px 0 0;
}

.table-row-cell:hover,
.table-row-cell:selected {
    -fx-background-color: #c6dbda;
    -fx-text-fill:#2c3233;
}

.table-row .table-row-cell:hover,
.table-row .table-row-cell:selected {
    -fx-background-color: #c6dbda;
    -fx-text-fill:#2c3233;
}

.table-view .column-overlay,
.table-view .column-overlay:hover,
.table-view .column-overlay:focused,
.table-row:focused,
.table-row:hover {
	-fx-background-color:transparent;
	-fx-background-image:inherit;
}

.table-view .column-header-background .nested-column-header,
.table-view .column-header-background .nested-column-header .column-header,
.table-view .column-header-background .filler{
	-fx-background-radius:0;
	-fx-background-image:inherit;
	-fx-background-color: #f7f7f7;
	-fx-border-width:0 1px 0 0;
	-fx-border-style:solid;
	-fx-border-color:#c6c6c6;
	-fx-padding:0px;
}

.table-view .column-header .sort-order,
.table-view .column-header-background .nested-column-header{
	-fx-padding:5px 0;
}

.table-view .column-header-background .nested-column-header,
.table-view .column-header-background .filler {
	-fx-border-width:0;
	-fx-cursor: hand;
}

.alert.error,
.alert.warning,
.alert.success {
	visibility: visible;
}
.alert {
	-fx-padding: 0;
	-fx-background-color: #d2fcf5;
	-fx-text-fill: #2c3233;
	-fx-border-color: #c6dbda;
	-fx-border-width: 0 0 0 6px;
	-fx-border-style: solid;
	-fx-font-size: 16px;
}
.alert.error {
	-fx-background-color: #ff314e;
	-fx-text-fill: #eeeeee;
	-fx-border-color: #d6374c;
}
.alert.warning {
	-fx-background-color: #ffd257;
	-fx-border-color: #ebc253;
}
.alert.success {
	-fx-background-color: #27d2b8;
	-fx-border-color: #4aad9f;
}
.alert.error .text-label-field {
	-fx-text-fill: #eeeeee;
}
.alert .text-label-field {
	-fx-padding:20px;
}

.alert.error .symbol {
	-fx-background-color: #FF97A6;
	-fx-background-image:url('assets/icons-02.png');
	-fx-background-repeat:no-repeat;
	-fx-background-position:7px 6px;
}
.alert.warning .symbol {
	-fx-background-color: #FFE8AA;
	-fx-background-image:url('assets/icons-11.png');
	-fx-background-repeat:no-repeat;
	-fx-background-position:10px 4px;
}
.alert.success .symbol {
	-fx-background-color: #92E8DB;
	-fx-background-image:url('assets/icons-14.png');
	-fx-background-repeat:no-repeat;
	-fx-background-position:6px 10px;
}

.loginContainer,
.contentContainer {
	-fx-padding:20px;
}

.loginContainer {
	-fx-background-image: url('assets/Login-Background-small.jpg');
	-fx-background-repeat: stretch;
	-fx-background-size: cover;
	-fx-background-position: left top;
}

.root.wide .loginContainer {
	-fx-background-image: url('assets/Login-Background-large.jpg');
}

.loginContainer .headline {
	-fx-border-color:#2c3133;
	-fx-border-width:0 0 1px 0;
	-fx-border-style: solid;
	-fx-padding: 0 0 5px 0;
}

.loginContainer .paragraph {
	-fx-padding: 0 0 0 0;
}

.loginContainer .textfield {
	-fx-padding: 10px;
}

.btn.close {
	-fx-border-color:#eeeeee;
	-fx-border-width:0 0 0 1px;
	-fx-border-style: solid;
	-fx-padding:0;
	-fx-background-image: url('assets/icons-06.png');
	-fx-background-position: 14px 1px;
}
.btn.close:focused,
.btn.close:hover {
	-fx-background-color:#ff314e;
}

.btn.fullscreen {
	-fx-padding:0;
	-fx-background-image: url('assets/icons-07.png');
	-fx-background-position: 14px 1px;
}
.btn.fullscreen:focused,
.btn.fullscreen:hover {
	-fx-background-color:#d2fcf5;
	-fx-background-image: url('assets/icons-17.png');
	-fx-background-position: 14px 1px;
}
.btn.help {
	-fx-padding:0;
	-fx-background-image: url('assets/icons-07.png');
	-fx-background-position: 14px 1px;
}
.btn.help:focused,
.btn.help:hover {
	-fx-background-color:#d2fcf5;
	-fx-background-image: url('assets/icons-17.png');
	-fx-background-position: 14px 1px;
}

.root.wide .btn.fullscreen {
	-fx-background-image: url('assets/icons-08.png');
	-fx-background-position: 14px 1px;
}
.root.wide .btn.fullscreen:focused,
.root.wide .btn.fullscreen:hover {
	-fx-background-image: url('assets/icons-18.png');
	-fx-background-position: 14px 1px;
}